.BodyContainer {
    margin-top: 0.5em;
    width: 100%;
}

.flexbox {
    display: flex;
}

.Left{ 
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.Center {
    margin-top: 0.5em;
}

.Rigth {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

