.NavBarContainer {
    width: 100%;
    margin-left: 8.5em;
}

.HeaderContainer {
    position: relative;
    background-color: white;
    margin-top: 0.5em;
    width: 100%;
    border-radius: 1%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.Menu {
    background-color: white;
    color: rgba(0, 0, 0, .6);
    height: fit-content;
    width: 23vw;
    line-height: 1.7;
    line-break: normal;
    border-radius: 2%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

    .Menu h1{
        font-size: 11px;
        font-weight: 600;
    }

    .Menu h3{
        font-size: 9px;
    }

    .Menu p{
        font-size: 8px;
        color: rgba(0, 0, 0, .5);
        margin-bottom: 1em;
        margin-right: 1.5em;
    } 

    .Menu small {
        font-size: 7px;
    }

.PhotoGroup {
    display: flex;
    flex-wrap: wrap;
}

.PhotoGroup div {
    flex: auto;
    margin: 0.3em 0.3em;
}

.Post {
    background-color: white;
    color: rgba(0, 0, 0, .6);
    width: 47vw;
    line-height: 1.7;
    border-radius: 2%;
    margin: 0.5em 0 1em 0;
    
    padding: 1em;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

    .Post h1{
        font-size: 11px;
        font-weight: 600;
    }

    .Post h3{
        font-size: 9px;
    }

    .Post p{
        color: rgba(0, 0, 0, .7);
        font-size: 8px;
        margin-bottom: 0.3em;
    } 

.Hashtag {
    position: relative;
    bottom: 0.7em;
    color:#9c9ee2!important;
}

    .Comment p{
        position: relative;
        left: 4.5em;
        bottom: 1.7em;
        margin-right: 3.5em;
    }

.MakeComment textarea::placeholder{
    font-size: 12px;
}

.LoadMore{
    text-align: center;
    margin-bottom: .5em;
}