.flexbox {
    display: flex;
}

.HeaderProfile {
    background-color: white;
    position: relative;
    bottom: 5em;
    left: 2em;
    border-radius: 3px;
    padding: 3px;
}

.NameTextProfile {
margin-bottom: 0;
position: relative;
bottom: 3em;
left: 3em;
color: white;
}

    .NameTextProfile p { 
        font-size: 11px
    }

.NameSubtitle h3{
    margin-left: 0.7em;
    margin-bottom: 0;
}

.NameSubtitle p{
    margin-left: 0.7em;
}

.AddFriendBtn{
    background-color: #9c9ee2;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10%;
}