.flexbox {
    display: flex;
}

.HeaderProfile {
    background-color: white;
    position: absolute;
    bottom: 30px;
    left: 2em;
    border-radius: 3px;
    padding: 3px;
}

.NameTextProfile {
    margin-bottom: 0;
    position: absolute;
    bottom: 30px;
    left: 8em;
    color: white;
}

    .NameTextProfile p { 
        font-size: 11px
    }

.NameSubtitle h3{
    margin-left: 0.7em;
    margin-bottom: 0;
}

.NameSubtitle p{
    margin-left: 0.7em;
}

.AddFriendBtn{
    background-color: #9c9ee2;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10%;
}

.Smallsvg svg{
    font-size: smaller;
}

.Star {
    color: #FFAA00;
}

.NumberAfterIcon{
    margin-top: 7px;
}
