.flexbox {
    display: flex;
}

.HeaderProfile {
    background-color: white;
    position: absolute;
    bottom: 30px;
    left: 2em;
    border-radius: 3px;
    padding: 3px;
}

.NameTextProfile {
    margin-bottom: 0;
    position: absolute;
    bottom: 30px;
    left: 8em;
    color: white;
}

    .NameTextProfile p { 
        font-size: 11px
    }

.NameSubtitle h3{
    margin-left: 0.7em;
    margin-bottom: 0;
}

.NameSubtitle p{
    margin-left: 0.7em;
}

.AddFriendBtn{
    background-color: #692FB3;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10%;
}

.NotButton{
    border: none;
    background-color: transparent;
}

.Smallsvg svg{
    font-size: smaller;
}

.Star {
    color: #FFAA00;
}

.NumberAfterIcon{
    margin-top: 7px;
}

.GroupPhotos {
    position: relative;
    display: flex;
}
    .Group1{
        position: absolute;
        left: 0;
    }
    .Group2{
        position: absolute;
        left: 10px;
    }
    .Group3{
        position: absolute;
        left: 20px;
    }
    .Group4{
        position: absolute;
        left: 30px;
    }
    .Group5{
        position: absolute;
        left: 40px;
    }

.ConfigButton {
    position: absolute;
    height: auto;
    width: 40px;
    top: 7em;
    right: -7px;
    background-color: #692FB3;
    border-radius: 10%;
}
.ConfigButton button{
    color: white;
    border: none;
    background-color: transparent;
}
